.admin-overview {
  width: calc(100% - 400px);
  h1 {
    font-size: 21px;
    font-weight: 500;
  }

  .activity-panel {
    width: 400px;
    background-color: #f9fbfc;
    background-color: #fff;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 80px);
    padding: 20px 0px;

    .header-activity {
      border-bottom: 1px solid #eee;
      margin-bottom: 20px;
      position: fixed;
      background-color: #fff;
      z-index: 999999;
      top: 60px;
      width: 100%;
      height: 60px;
      justify-content: center;
      align-items: center;

      .search-activity {
        margin-left: auto;
        font-size: 13px;
      }
    }

    .logger-items {
      margin-top: 55px;
      .loggerItem {
        font-size: 13px;
        line-height: 150%;
        display: flex;
        gap: 4px;
        flex-direction: column;
        padding: 10px 20px;
        padding-right: 50px;

        &:nth-child(2n) {
          background-color: #f9fbfc;
        }

        p {
          color: #777;
          font-size: 12px;
        }
      }
    }
  }

  .overview-body {
    width: 100%;
  }

  .filterStat {
    padding: 10px 14px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    width: max-content;
    cursor: pointer;
    /* margin-top: 28px; */
    font-size: 14px;
    font-weight: 500;
    /* float: right; */
    position: relative;
    z-index: 999999;
  }

  .filter-dropdown {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    z-index: 999999;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.04);
    width: 180px;

    li {
      list-style: none;
      padding: 6px 14px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        background-color: #f9fbfc;
      }
    }
  }

  .analytics-title {
    position: relative;
    margin-bottom: 28px;
    p {
      font-weight: 500;
      font-size: 21px;
    }
  }

  .admin-statistics {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 14px;

    .stat-card {
      width: calc(33.33% - 10px);
      padding: 25px;
      border-radius: 8px;
      background-color: #fff;
      /* border: 1px solid #f8f8f8; */
      /* box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.03); */
      position: relative;
      height: 150px;

      &.theme-card-zone {
        color: #fff;
      }

      .stat-number {
        font-size: 24px;
        font-weight: 550;
        margin-top: 16px;
      }

      .stat-icon {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);

        img {
          width: 100%;
        }
      }

      .stat-text {
        font-size: 10.5px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
      }

      .stat-track {
        font-size: 15px;
        color: #777;
        font-weight: 300;
        margin-top: 3px;
      }

      .stat-description {
        font-size: 14px;
        width: 80%;
        display: none;
      }
    }
  }

  .stat-section {
    background-color: #fff;
    width: calc(50% - 5px);
    padding: 25px;
    border-radius: 8px;
    margin-top: 10px;

    .vis {
      .page-visit:nth-child(2n) {
        background-color: #f9f9f9;
      }
    }

    .stat-title {
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 25px;
    }

    .page-visit {
      display: flex;
      gap: 10px;
      padding: 10px;
      // margin-bottom: 10px;
      // border-bottom: 1px solid #eee;
      // padding-bottom: 10px;

      .page-visit__count {
        margin-left: auto;
        font-weight: 500;
      }

      .page-visit__name {
        /* font-size: 14px; */
        /* font-weight: 500; */
        font-size: 15px;
      }
    }
  }
}
