.newsletter {
  margin: 100px 0;
  margin-bottom: 50px;
  background-color: #0c140c;
  background-color: #2e7d32;
  padding: 80px;
  border-radius: 10px;
  align-items: center;

  .letter_icon {
    width: 300px;
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details__area {
    display: flex;
    color: #fff;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .letter_title {
    font-size: 28px;
    font-weight: 600;
    line-height: 125%;
    color: #fff;
    width: 550px;
  }

  .input-action {
    border-radius: 5px;
    height: 60px;

    input {
      width: 320px;
      padding: 20px;
      outline: none;
      border-radius: 5px;
    }
  }
}
