.language-menu {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin: 50px 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 21px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
  margin-bottom: 70px;
  width: 250px;

  &.main-lang {
    margin-bottom: 45px;
    margin-left: 0;
  }
}

.language-option {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 12px 16px;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  transition: background 0.2s ease;
  justify-content: space-between;
}

.language-option:hover {
  background: #f5f5f5;
}

.language-option.active {
  background: #ebf8e8;
  color: #00853e;
  font-weight: 500;
}

.language-option .checked {
  width: 16px;
  font-weight: bold;
  margin-right: 10px;
}
