.dashboardPages {
  /* width: 100%; */
  /* padding: 20px 70px; */
  /* background-color: #f9fbfc; */
  position: relative;
}

.dashboard-body {
  /* background-color: #f9fbfc; */
  min-height: 100vh;
  width: 100%;
}

/* .dashboard-admin {
  background-color: #f9f9f9;
  height: 100vh;
} */
