.home-version {
  overflow: clip;
}

.text-content {
  width: 700px;
  gap: 50px;
  padding: 100px 0;
  position: relative;
  z-index: 3;

  .main-text {
    font-size: 65px;
    line-height: 72px;
    letter-spacing: -1.5px;
    font-weight: 650;

    span {
      color: #108a00;
    }
  }

  p {
    font-size: 17px;
    line-height: 28px;
    width: 80%;
    color: #666;
  }
}

.vidMate {
  height: 600px;
  overflow: hidden;
  position: absolute;
  width: 1200px;
  right: -50px;
  rotate: -25deg;
  z-index: 0;
  top: 0px;
  background-color: tan;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.content {
  gap: 40px;
  padding: 0;

  .commissioner-name {
    h1 {
      font-size: 18px;
    }
  }
}

@media (max-width: 1200px) {
  .landing-photo {
    width: 400px;
    height: 450px;

    img {
      object-fit: contain;
    }
  }

  .landingPage-version {
    margin-top: 110px;
  }

  .home-version {
    gap: 20px;
    align-items: center;
  }

  .text-content {
    width: 500px;
    padding: 30px 0;
    gap: 30px;

    .main-text {
      font-size: 54px;
      line-height: 120%;
    }

    p {
      width: 100%;
    }
  }
}

@media (max-width: 950px) {
  .landing-photo {
    width: 400px;
    height: 450px;

    img {
      object-fit: contain;
    }
  }

  .landingPage-version {
    margin-top: 80px;
  }

  .home-version {
    gap: 20px;
    align-items: center;
  }

  .text-content {
    width: 500px;
    padding: 30px 0;
    gap: 30px;

    .main-text {
      font-size: 48px;
      line-height: 120%;
    }

    p {
      width: 100%;
      font-size: 16px;
      line-height: 160%;
    }
  }
}

@media (max-width: 820px) {
  .landing-photo {
    width: 400px;
    height: 350px;
    margin-bottom: 80px;

    img {
      object-fit: contain;
    }
  }

  .landingPage-version {
    margin-top: 100px;
  }

  .home-version {
    gap: 20px;
    align-items: center;
  }

  .text-content {
    width: 500px;
    padding: 0px 0;
    gap: 30px;

    .main-text {
      font-size: 40px;
      line-height: 120%;
    }

    p {
      width: 88%;
      font-size: 14px;
      line-height: 160%;
    }
  }
}

@media (max-width: 660px) {
  .landing-photo {
    width: 400px;
    height: 350px;
    margin: 40px 0;

    img {
      object-fit: contain;
    }
  }

  .landingPage-version {
    margin-top: 130px;
  }

  .home-version {
    gap: 0px;
    align-items: center;
    flex-direction: column;
  }

  .text-content {
    width: 100%;
    padding: 0px 0;
    gap: 30px;
    text-align: center;
    align-items: center;

    .main-text {
      font-size: 38px;
      line-height: 120%;
      text-align: center;
    }

    p {
      width: 100%;
      font-size: 14px;
      line-height: 160%;
    }
  }
}

@media (max-width: 420px) {
  .text-content {
    .main-text {
      font-size: 34px;
    }
  }
}
