.useGradientCard {
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.useGradientCard::before {
  content: '';
  position: absolute;
  height: calc(100% - 36px);
  width: calc(100% - 36px);
  // width: 100%;
  opacity: 0.8;

  background-image: conic-gradient(
    from var(--angle) at 50% 50%,
    // #fff 25.8605235815deg,
    #3583f2 41.0335063934deg,
    #3583f2 77.943046689deg,
    #08a39f 89.8615390062deg,
    #0eb75a 100.5985665321deg,
    #0eb75a 135.4607820511deg,
    #fff 150.8437871933deg,
    #fff 203.1478071213deg,
    #f6433f 218.4634137154deg,
    #f6433f 256.3241672516deg,
    #f77a1e 268.0846238136deg,
    #f6c90c 278.2843136787deg,
    #f6c90c 312.1730589867deg,
    #fff 331.7425632477deg
  );
  // bottom: 2.5px;
  z-index: -1;
  border-radius: 16px;
  left: 50%;
  translate: -50%;
  animation: 1s spin linear;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@media (max-width: 700px) {
  .useGradientCard {
    width: 100%;
  }
}
