.services_parent_card {
  overflow-x: auto;
  scrollbar-width: none;

  .services_card {
    width: 800px;
    height: 400px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }
}

.control-btns {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 0 -35px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .controls-slider {
    width: 97%;
    transform: translateX(-50%);
    left: 50%;
  }
  .services_parent_card {
    .services_card {
      width: 90%;
      height: 100%;
    }
  }
}

@media (max-width: 660px) {
  .controls-slider {
    width: 95%;
  }
  .control-btns {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .controls-slider {
    width: 80%;
  }
  .control-btns {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }
}
