.youtube-container{
    width: 90%;;
}

.youtube__lasg{
    width: 100%;
    height: 550px;
    border-radius: 10px;
    background-color: #eee;
}

.socials__skin{

    gap: 60px;

    .other__socials{

        .social__tabs{

            .social__icons{

                height: 60px;
                width: 60px;
                overflow: hidden;
                cursor: pointer;

                img{
                    width: 100%;
                }
            }
        }
    }
}

.sectionTitle{
    font-size: 40px;
    font-weight: 600;
    width: 700px;
    text-align: center;
    text-transform: capitalize;
    line-height: 130%;
}