.sidebar {
  background-color: #fff;
  width: 280px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #eee;
  padding: 25px 30px;
  padding-left: 20px;

  .mainMenu {
    .menu__heading {
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      gap: 35px;
      margin-top: 0px;
      color: #000;

      .menu__title {
        font-size: 14px;
        font-weight: 600;
      }

      .menu__controller {
        gap: 10px;

        .logo-mda {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          flex-shrink: 0;
        }
        p {
          font-size: 10.5px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    .menu__links {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
      height: calc(100vh - 150px);

      .nav-section {
        // border-bottom: 1px solid #e7e7e7;
        // padding-bottom: 10px;
        .section-title-admin {
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 15px;
          padding-left: 15px;
          color: green;
        }

        .link {
          display: flex;
          cursor: pointer;
          align-items: center;
          gap: 16px;
          padding: 12px 15px;
          margin-bottom: 0px;
          font-size: 13px;
          color: #555;
          border-radius: 10px;

          &:hover {
            // background-color: hsl(157, 37%, 6%);
            color: #000;
            font-weight: 500;
          }

          &.current-active {
            background-color: hsl(157, 37%, 96%);
            // background-color: hsl(195, 40%, 96%);
            color: green;
            // color: rgb(0, 85, 255);
            font-weight: 600;
          }

          .icon {
            font-size: 12px;
            margin-top: 3px;
          }
        }
      }
    }
  }
}
