.serviceCardItem {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  color: var(--dark);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 25px 30px;
  width: 380px;

  .service_details {
    gap: 10px;

    .logo {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 30px;
      justify-content: center;
      overflow: hidden;
      width: 30px;
    }

    .service_title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }
  .service_description {
    color: #777;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
  }
}
